/*  inport all scss files  */
/*================ SETTINGS ================*/
@font-face {
  font-family: 'Avenir-Black';
  src: url("../fonts/Avenir-Black.eot");
  src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Roman';
  src: url("../fonts/Avenir-Roman.eot");
  src: url("../fonts/Avenir-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff"), url("../fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Heavy';
  src: url("../fonts/Avenir-Heavy.eot");
  src: url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*
	*** COLOR VARIABLES ***
*/
/* 
	assignment of variables to colors
*/
/*================ MODULES ================*/
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Avenir-Roman", sans-serif;
  line-height: 1.44;
  overflow-x: hidden;
  color: #7A7777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir-Black", sans-serif;
  color: #4A4A4A; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h5 {
  font-size: 18px;
  font-family: "Avenir-Heavy", sans-serif; }

p {
  font-size: 18px; }

img {
  width: 100%;
  height: auto; }

.main-wrapper {
  background-image: linear-gradient(#E9F7FF, #FFFFFF); }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 0;
  padding: 10px 0;
  background: transparent;
  z-index: 1000; }

.logo-link {
  display: inline-block;
  padding: 12px 15px;
  vertical-align: top; }
  .logo-link .header-logo {
    width: 142px;
    height: 24px; }

.navbar {
  margin-bottom: 0;
  border: none; }

.navbar-btn {
  float: right;
  border: none;}
  .navbar-btn .icon-bar {
    width: 26px;
    height: 3px;
    border-radius: 5px;
    background-color: #009CDB; }

.navbar-menu-wrap {
  text-align: right; }

.navbar-menu {
  display: inline-block;
  font-family: "Avenir-Black";
  font-size: 18px;
  float: none; }
  .navbar-menu .navbar-menu-item .navbar-menu-divider {
    border-left: 2px solid #055c7f;
    padding-left: 11px;
    outline: none; }
    .navbar-menu .navbar-menu-item .navbar-menu-divider:hover {
      color: #24B6F1; }
    .navbar-menu .navbar-menu-item .navbar-menu-divider:focus {
      color: #24B6F1; }
  .navbar-menu .navbar-menu-item .navbar-menu-link {
    padding-right: 9px;
    padding-left: 0;
    font-size: 14px;
    font-family: "Avenir-Black";
    line-height: 1.86;
    letter-spacing: 0.6px;
    color: #19ADE8;
    text-transform: uppercase;
    text-decoration: none;
    outline: none; }
    .navbar-menu .navbar-menu-item .navbar-menu-link:hover {
      color: #24B6F1; }
    .navbar-menu .navbar-menu-item .navbar-menu-link:focus {
      color: #24B6F1; }
    .navbar-menu .navbar-menu-item .navbar-menu-link:hover, .navbar-menu .navbar-menu-item .navbar-menu-link:active, .navbar-menu .navbar-menu-item .navbar-menu-link:visited, .navbar-menu .navbar-menu-item .navbar-menu-link:link {
      background-color: transparent; }
  .navbar-menu .navbar-menu-item .user-icon {
    margin-top: -5px;
    width: 14px; }
  .navbar-menu .navbar-menu-item .btn-try-now {
    margin-right: 20px;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 87px;
    height: 26px;
    border-radius: 3px;
    background-color: #009CDB;
    font-size: 14px;
    font-family: "Avenir-Black";
    text-align: center;
    color: #FFFFFF;
    padding: 4px;
    outline: none; }
    .navbar-menu .navbar-menu-item .btn-try-now:hover {
      background-color: #24B6F1; }
    .navbar-menu .navbar-menu-item .btn-try-now:focus {
      background-color: #24B6F1; }

.hero-section {
  overflow: hidden; }
  .hero-section .hero-wrapper {
    position: relative;
    width: 200%;
    margin-left: -50%;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    overflow: hidden; }
    .hero-section .hero-wrapper .hero-image-wrapper {
      width: 50%;
      margin-left: 25%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      overflow: hidden; }
    .hero-section .hero-wrapper .home-page-hero {
      height: 58vw;
      max-height: 538px;
      background-image: url("../images/image-home-hero.png");
      background-repeat: no-repeat;
      background-position: center center; }

.hero-content {
  width: 50%;
  margin-left: 25%;
  position: absolute;
  top: 36%;
  text-align: center;
  font-family: "Avenir-Black"; }
  .hero-content .tda-logo {
    width: 338px; }
  .hero-content .hero-title {
    font-size: 40px;
    margin-top: 57px;
    color: #FFFFFF;
    text-transform: none; }
  .hero-content .hero-wrapper-btn {
    margin-top: 66px;
    text-align: center; }
    .hero-content .hero-wrapper-btn .btn-hero {
      text-decoration: none;
      display: inline-block;
      width: 290px;
      height: 56px;
      border-radius: 6px;
      background-color: #FB870B;
      line-height: 56px;
      outline: none; }
      .hero-content .hero-wrapper-btn .btn-hero:hover {
        background-color: #FD9E38; }
      .hero-content .hero-wrapper-btn .btn-hero:focus {
        background-color: #FD9E38; }
      .hero-content .hero-wrapper-btn .btn-hero .btn-hero-name {
        position: relative;
        font-size: 20px;
        color: #FFFFFF;
        padding-right: 30px; }
        .hero-content .hero-wrapper-btn .btn-hero .btn-hero-name:after {
          position: absolute;
          right: 0;
          top: -19px;
          content: url(../images/icon-arrow-white-down.svg); }
        .hero-content .hero-wrapper-btn .btn-hero .btn-hero-name:focus {
          outline: none; }

.home-hero-content {
  top: 80px !important; }

@media screen and (max-width: 767px) {
  .header {
    background-image: url("../images/image-home-hero.png"); }

  #navbar {
    text-align: center; }

  .navbar-toggle {
    padding: 7px 5px;
    margin-bottom: 12px;
    margin-right: 0; }

  .navbar-menu-wrap .navbar-menu .navbar-menu-item {
    padding: 15px 20px;
    text-align: left; }
    .navbar-menu-wrap .navbar-menu .navbar-menu-item .user-icon {
      margin-top: -5px; }
    .navbar-menu-wrap .navbar-menu .navbar-menu-item .navbar-menu-link {
      padding: 0;
      margin: 0;
      font-size: 18px;
      height: 26px; }

  .navbar-menu .navbar-menu-item {
    padding: 15px 20px; }
    .navbar-menu .navbar-menu-item .navbar-menu-divider {
      border: none;
      padding-left: 0; }
    .navbar-menu .navbar-menu-item .btn-try-now {
      margin: 0;
      padding: 0;
      height: 26px;
      width: 100%;
      background-color: transparent;
      font-size: 18px;
      font-family: "Avenir-Black";
      letter-spacing: 0.6px;
      color: #19ADE8;
      text-transform: uppercase;
      line-height: 26px; }

  .hero-content .tda-logo {
    padding-top: 13px;
    width: 173px;
    height: auto;
    position: absolute;
    margin-top: -80px;
    left: 20px;
    z-index: 1000; }
  .hero-content .hero-wrapper-btn {
    margin-top: 33px; }
    .hero-content .hero-wrapper-btn .btn-hero {
      width: 70%;
      max-width: 295px;
      height: 46px;
      line-height: 46px; }
      .hero-content .hero-wrapper-btn .btn-hero .btn-hero-name {
        font-size: 15px; }
        .hero-content .hero-wrapper-btn .btn-hero .btn-hero-name:after {
          top: -16px; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero-section .hero-wrapper .hero-image-wrapper {
    background-size: auto; }
  .hero-section .hero-wrapper .home-page-hero {
    height: auto;
    min-height: 329px; }

  .hero-content .hero-title {
    margin-top: 12px;
    font-size: 30px;
    line-height: 1.4; }
  .hero-content .hero-wrapper-btn {
    margin-top: 33px; }
    .hero-content .hero-wrapper-btn .btn-hero {
      width: 100%;
      max-width: 295px;
      height: 46px;
      line-height: 46px; }
      .hero-content .hero-wrapper-btn .btn-hero .btn-hero-name {
        font-size: 15px; }
        .hero-content .hero-wrapper-btn .btn-hero .btn-hero-name:after {
          top: -16px; } }
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .hero-section .hero-wrapper .hero-image-wrapper {
    background-size: auto; }
  .hero-section .hero-wrapper .home-page-hero {
    height: auto;
    min-height: 280px; }

  .hero-content .hero-title {
    margin-top: 12px;
    font-size: 30px; } }
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .user-icon {
    width: auto !important; } }
.footer-section {
  overflow: hidden;
  background-color: #E9F7FF;
  margin-top: -4%; }
  .footer-section .footer-wrapper {
    position: relative;
    width: 200%;
    margin-left: -50%;
    border-top-left-radius: 50% 30%;
    border-top-right-radius: 50% 30%;
    overflow: hidden; }
    .footer-section .footer-wrapper .footer-image-wrapper {
      height: 34vw;
      width: 50%;
      margin-left: 25%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      overflow: hidden; }
    .footer-section .footer-wrapper .page-footer {
      height: auto;
      background-image: url("../images/image-footer-bg.png");
      background-repeat: no-repeat;
      background-position: center center; }

.wrap-info {
  text-align: center;
  font-family: "Avenir-Black"; }
  .wrap-info .footer-title {
    margin-top: 88px;
    color: #FFFFFF;
    margin-bottom: 1px; }
  .wrap-info .footer-text {
    font-size: 28px;
    color: #FFFFFF; }
  .wrap-info .btn-free {
    margin-top: 30px;
    width: 290px;
    height: 56px;
    border-radius: 6px;
    font-family: 'Avenir-Black';
    border: none;
    border-color: transparent;
    background-color: #FB870B;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF; }
    .wrap-info .btn-free:hover {
      background-color: #FD9E38;
      outline: none; }
    .wrap-info .btn-free:focus {
      background-color: #FD9E38;
      outline: none; }

.wrapper-tda {
  margin-bottom: 73px; }
  .wrapper-tda .footer-img-tda {
    padding-top: 30px;
    padding-left: 30px;
    max-width: 165px;
    cursor: pointer; }

.breadcrumb-list {
  margin-top: 75px;
  margin-bottom: 18px;
  list-style-type: none;
  padding: 0;
  line-height: 26px; }
  .breadcrumb-list .list-item {
    display: inline-block;
    padding-left: 30px;
    margin: 0;
    cursor: pointer; }
    .breadcrumb-list .list-item .list-name {
      font-family: "Avenir-Black";
      font-size: 10px;
      line-height: 2.6;
      letter-spacing: 0.4px;
      color: #FFFFFF;
      text-transform: uppercase;
      text-decoration: none;
      outline: none; }
      .breadcrumb-list .list-item .list-name:hover {
        color: #ACC3E0; }
      .breadcrumb-list .list-item .list-name:focus {
        color: #ACC3E0; }

@media screen and (max-width: 767px) {
  .footer-section {
    margin-top: -6.5%; }
    .footer-section .footer-wrapper .page-footer {
      height: auto; }
    .footer-section .footer-wrapper .footer-image-wrapper {
      background-size: cover; }

  .wrap-info .footer-title {
    margin-top: 20px;
    font-size: 15px; }
  .wrap-info .wrapper-tda {
    margin-bottom: 0; }
    .wrap-info .wrapper-tda .footer-img-tda {
      padding: 0;
      margin-left: 14px;
      margin-top: 25px;
      max-width: 120px; }
  .wrap-info .footer-text {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .wrap-info .btn-free {
    margin-top: 0;
    max-width: 295px;
    height: 46px;
    font-size: 15px; }
  .wrap-info .breadcrumb-list {
    margin-top: 20px; }
    .wrap-info .breadcrumb-list .list-item {
      padding: 0;
      width: 100%; } }
@media only screen and (min-width: 768px) {
  .footer-section {
    margin-top: -5%; }
    .footer-section .footer-wrapper .page-footer {
      height: auto; }
    .footer-section .footer-wrapper .footer-image-wrapper {
      background-size: cover; } }
.home-page-section {
  padding-top: 51.3px;
  text-align: center;
  position: relative; }

.icon-pin {
  position: absolute;
  top: -42px;
  width: 56px;
  height: 90px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer; }

.wrap-home-title {
  padding-bottom: 3px; }

.section-title {
  text-align: center;
  color: #4A4A4A;
  font-family: "Avenir-Black";
  margin-bottom: 12px; }

.section-text {
  text-align: center;
  padding: 0 25%;
  font-family: "Avenir-Roman";
  line-height: 1.44;
  color: #7A7777; }

.home-wrapper {
  margin-top: 73px;
  margin-bottom: 80px; }
  .home-wrapper:last-child {
    margin-bottom: 0; }

.row.is-flex {
  display: flex;
  flex-wrap: wrap; }
  .row.is-flex:before, .row.is-flex:after {
    width: 0; }

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.home-wrap-text {
  text-align: left; }
  .home-wrap-text .wrap-text-name {
    margin-bottom: 20px; }
  .home-wrap-text .wrap-text-description {
    margin-bottom: 30px; }

.small {
  width: 80%; }

@media screen and (max-width: 767px) {
  .wrap-home-title {
    padding-bottom: 3px; }

  .home-page-section {
    padding-top: 25px; }
    .home-page-section .section-title {
      margin-top: 11.2px;
      margin-bottom: 15px;
      font-size: 28px;
      padding: 0 8%; }
    .home-page-section .icon-pin {
      top: -38px;
      max-width: 44px;
      max-height: 70px;
      object-fit: contain; }
    .home-page-section .row.is-flex {
      display: block; }
    .home-page-section .section-text {
      padding: 0;
      text-align: center; }

  .wrap-text-name {
    display: none;
    margin-top: 0;
    text-align: center; }

  .wrap-text-name-none {
    margin-top: 0;
    text-align: center;
    display: block;
    font-size: 24px;
    padding: 0 8%; }

  .home-wrapper {
    margin-top: 52px;
    margin-bottom: 0; }
    .home-wrapper .wrap-text-description {
      text-align: center;
      margin-bottom: 30px; }
      .home-wrapper .wrap-text-description:last-child {
        margin-bottom: 0; }
    .home-wrapper .indent {
      text-indent: 1em; }
    .home-wrapper .home-wrap-img {
      margin-top: 20px;
      margin-bottom: 15px; }

  .small {
    width: 100%; } }
@media screen and (min-width: 768px) {
  .wrap-text-name {
    display: block;
    margin-top: 0;
    text-align: left; }

  .wrap-text-name-none {
    margin-top: 0;
    text-align: left;
    display: none; } }
.price-section {
  margin-top: 113px;
  padding-bottom: 90px;
  background-image: url("../images/pattern-divider-01.svg");
  background-repeat: repeat-x;
  background-position: bottom; }
  .price-section .price-title {
    text-align: center;
    color: #4A4A4A;
    font-family: "Avenir-Black"; }
  .price-section .price-text {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 45px;
    padding: 0 25%;
    font-family: "Avenir-Roman";
    line-height: 1.44;
    color: #7A7777; }

.wrap-product-price {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 60px; }
  .wrap-product-price .prod-img-wrap {
    margin-bottom: 14px; }
    .wrap-product-price .prod-img-wrap .product-image {
      max-height: 180px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .wrap-product-price .prod-img-wrap {
        position: relative;
        height: 180px; }
        .wrap-product-price .prod-img-wrap .product-image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-height: 100%; } }
  .wrap-product-price .product-title {
    line-height: 38px;
    margin-bottom: 9px;
    color: #4A4A4A; }
  .wrap-product-price .product-description {
    margin-bottom: 16px;
    font-family: "Avenir-Heavy"; }
  .wrap-product-price .product-text {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #7A7777; }
  .wrap-product-price .product-valued {
    margin-bottom: 16px;
    font-family: "Avenir-Black"; }
  .wrap-product-price .product-button-sorbus {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    background-color: #FB870B;
    font-size: 15px;
    font-family: "Avenir-Black";
    text-align: center;
    color: #FFFFFF;
    line-height: 32px;
    outline: none; }
    .wrap-product-price .product-button-sorbus:hover {
      background-color: #FD9E38; }
    .wrap-product-price .product-button-sorbus:focus {
      background-color: #FD9E38; }
  .wrap-product-price .product-button-cerulean {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    background-color: #009CDB;
    font-size: 15px;
    font-family: "Avenir-Black";
    text-align: center;
    color: #FFFFFF;
    line-height: 32px;
    outline: none; }
    .wrap-product-price .product-button-cerulean:hover {
      background-color: #24B6F1; }
    .wrap-product-price .product-button-cerulean:focus {
      background-color: #24B6F1; }

.prod-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; }

@media screen and (max-width: 767px) {
  .price-section {
    margin-top: 52px; }
    .price-section .row.is-flex {
      display: block; }
    .price-section .price-title {
      font-size: 28px;
      margin-bottom: 15px; }
    .price-section .price-text {
      padding: 0;
      text-align: center;
      margin: 0;
      text-indent: 1em; }
    .price-section .wrap-product-price {
      margin-top: 40px; }
      .price-section .wrap-product-price .prod-img-wrap {
        margin-bottom: 12px; }
    .price-section .product-button-sorbus {
      max-width: 295px; }
    .price-section .product-button-cerulean {
      max-width: 295px; }

  .product-text {
    padding: 0 10%; } }
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .is-flex [class*="col-"] .wrap-product-price {
    min-height: 480px; }
    .is-flex [class*="col-"] .wrap-product-price .product-image {
      width: auto;
      height: 180px; } }
@media only screen and (-ms-high-contrast: active) and (min-width: 480px) and (max-width: 767px), only screen and (-ms-high-contrast: none) and (min-width: 480px) and (max-width: 767px) {
  .is-flex [class*="col-"] .wrap-product-price {
    min-height: 400px; } }
@media only screen and (-ms-high-contrast: active) and (min-width: 768px) and (max-width: 991px), only screen and (-ms-high-contrast: none) and (min-width: 768px) and (max-width: 991px) {
  .is-flex [class*="col-"] .wrap-product-price {
    min-height: 440px; } }
@media only screen and (-ms-high-contrast: active) and (min-width: 992px), only screen and (-ms-high-contrast: none) and (min-width: 992px) {
  .is-flex [class*="col-"] .wrap-product-price {
    min-height: 500px; } }

.system-section {
  background-color: #E9F7FF; }
  .system-section .system-title {
    margin-top: 42px;
    margin-bottom: 12px;
    text-align: center;
    color: #4A4A4A;
    font-family: "Avenir-Black"; }
  .system-section .system-text {
    text-align: center;
    margin-bottom: 56px;
    padding: 0 25%;
    font-family: "Avenir-Roman";
    line-height: 1.44;
    color: #7A7777; }

.wrap-system-block {
  text-align: left; }
  .wrap-system-block .system-image {
    max-height: 120px;
    width: auto;
    margin-bottom: 35px; }
  .wrap-system-block .system-info-list {
    margin-bottom: 80px; }
    .wrap-system-block .system-info-list .system-info-title {
      font-size: 20px;
      font-family: "Avenir-Black";
      margin-bottom: 11px;
      color: #615B5B; }
  .wrap-system-block .system-list {
    list-style-type: none;
    padding-left: 4px; }
    .wrap-system-block .system-list .list-options {
      text-align: left;
      margin-bottom: 4px; }
      .wrap-system-block .system-list .list-options::before {
        content: url("../images/icon-tick.svg");
        float: left;
        padding-right: 10.8px; }
  .wrap-system-block .icon-question {
    padding-left: 7px;
    width: 20px;
    height: 20px; }

.infographic-image {
  margin-bottom: 125px; }

@media screen and (max-width: 767px) {
  .system-section .system-title {
    margin-top: 38px;
    margin-bottom: 15px;
    font-size: 28px; }
  .system-section .system-text {
    margin-bottom: 20px;
    padding: 0;
    text-align: center; }

  .wrap-system-block {
    text-align: center; }
    .wrap-system-block .system-list .list-options {
      text-align: center; }
      .wrap-system-block .system-list .list-options::before {
        float: none; }
    .wrap-system-block .system-image {
      margin-bottom: 20px; }
    .wrap-system-block .system-info-list {
      margin-bottom: 40px; }

  .infographic-image {
    margin-top: 0;
    margin-bottom: 47px;
    padding: 0 3%; }

  .project-image {
    padding: 0 1%; } }

/*# sourceMappingURL=styles.css.map */
